discord:
    token: '<YourDiscordToken>'
    botUserId: '<@yourDiscordId>'
openai:
    key: '<YourOpenAIKey>'
    config:
        model: 'gpt-4'
        temperature: 0.9
        messages:
            - role: "system"
              content: "<Your gpt prompt>"
            - role: "user"
              content: ""
    botExternalName: '<YouBotName>'
    historyGeneratedPrompt: 10
    rewardEmoji: "🍪"
    historyTtl: 600 # secondes
    timeZoneDelta: 0 #the diff between the server you are running the bot on and the Discord
app:
    ignoreMyself: false
    mentionsOnly: false
    chanceToAddOneMoreAnswer: 10 # %
    slowModeTime: 15
    ignoreMentionInPromps: false #todo
    reactionWords: 
        - "<YourBotName>"
        - '<@yourDiscordId>'
